* {
  font-family: 'Archivo', sans-serif;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

body {
  background-image: url("../images/grid-background.png");
  background-color: #000;
}

.component-header {
  background-color: rgba(45, 45, 45, 0.6);
}

.logo-size {
  font-size: 60px;
}

.component-footer {
  background-color: #222222;
}

.component-footer a {
  color: #00D324;
}

.partner-logo {
  max-width: 100px;
}

.rights {
  background-color: #000000;
}

.card {
  background-color: #222222;
  max-height: 500px;
  box-shadow: 0 4px 8px rgba(17, 17, 17, 0.9);
}

.btn {
  color: #FFFFFF;
  background-color: #00D324;
}

.btn:hover {
  color: #00D324;
  background-color: #FFFFFF;
}

.btn i {
  color: inherit;
}

.btn span {
  color: inherit;
}

.highlight:hover {
  color: #00D324;
  transition: color 0.4s ease;
}

.highlight:hover span {
  color: #00D324;
  transition: color 0.4s ease;
}