:root {
  --primaryBackgroundColor: #121212;
  --secondaryBackgroundColor: #222222;
  --tertiaryBackgroundColor: #000000;
  --secondaryColor: #6702d4;
  --planI-color: #917c3a;
  --planII-color: #f59042;
  --planIII-color: #5d42f5;
  --white: #FFFFFF;
  --black: #000000;
  --green: #00D324;
}

* {
  font-family: 'Archivo', sans-serif;
  color: var(--white);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

body {
  background-image: url("../images/grid-background.png");
  background-color: var(--tertiaryBackgroundColor);
}

.component-header {
  background-color: rgba(45, 45, 45, 0.6);
}

.logo-size {
  font-size: 60px;
}

.component-footer {
  background-color: var(--primaryBackgroundColor);
}

.component-footer a {
  color: var(--green);
}

.partner-logo {
  max-width: 100px;
}

.rights {
  background-color: var(--tertiaryBackgroundColor);
}

.content-card {
  background-color: var(--primaryBackgroundColor);
  max-height: auto;
  width: fit-content;
  min-width: 400px;
  box-shadow: 0 4px 8px rgba(17, 17, 17, 0.9);
}

.planI {
  background-color: var(--planI-color);
}

.planII {
  background-color: var(--planII-color);
}

.planIII {
  background-color: var(--planIII-color);
}

.plan_content-card {
  background-color: var(--secondaryBackgroundColor);
  height: fit-content;
}

.white_content-card {
  background-color: var(--white);
  color: var(--black);
  max-height: auto;
  width: fit-content;
  min-width: 700px;
  max-width: 700px;
  box-shadow: 0 4px 8px rgba(17, 17, 17, 0.9);
}

.white_content-card span {
  color: var(--black);
}

.black_content-card {
  background-color: var(--primaryBackgroundColor);
  color: var(--white);
  max-height: auto;
  width: fit-content;
  min-width: 700px;
  max-width: 700px;
  box-shadow: 0 4px 8px rgba(17, 17, 17, 0.9);
}

.primary-btn {
  color: var(--white);
  background-color: var(--green);
}

.primary-btn:hover {
  color: var(--green);
  background-color: var(--white);
}

.primary-btn i {
  color: inherit;
}

.primary-btn span {
  color: inherit;
}

.secondary-btn {
  color: var(--white);
  background-color: var(--secondaryColor);
}

.secondary-btn:hover {
  color: var(--secondaryColor);
  background-color: var(--white);
}

.secondary-btn i {
  color: inherit;
}

.secondary-btn span {
  color: inherit;
}

.highlight:hover {
  color: var(--green);
  transition: color 0.4s ease;
  cursor: pointer;
}

.highlight:hover span {
  color: var(--green);
  transition: color 0.4s ease;
  cursor: pointer;
}